* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    position: relative;
}

html {
    font-size: 10px;
}

body{
    font-size: 16px;
    font-family: "Pokemon GB";
}

.content{
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* #region type-backgrounds */

.fire{
    background-color: #FF421C;
}

.water{
    background-color: #2C9BE3;
}

.grass{
    background-color: #62BC5A;
}

.bug{
    background-color: #92C12A;
}

.dragon{
    background-color: #5670BE;
}

.electric{
    background-color: #FFDC00;
}

.fighting{
    background-color: #BB5544;
}

.flying{
    background-color: #96CAFF;
}

.ghost{
    background-color: #6E4370;
}

.ground{
    background-color: #A67439;
}

.ice{
    background-color: #74CFC0;
}

.normal{
    background-color: #BBBBAA;
}

.poison{
    background-color: #9553CD;
}

.psychic{
    background-color: #FF6380;
}

.rock{
    background-color: #BBAA66;
}

.fairy{
    background-color: #EC8FE6;
}

/* #endregion */
